[Thing To Do]
choice = default
modules = networking,booty,chrooty,disk_operations,graphical,debootstrap

[DEFAULT]
test = test


[debian]

[ubuntu]
sand_hostname = Test
user = testuser
password = password
extra_extra = nginx,dnsmasq
sand_mac = de:ad:be:ef:ca:fe
sand_ip = 192.168.0.3
sand_iface = sandbox0
sandy_netmask = /24
sandy_path = /home/user/Desktop/sandbox/
arch = amd64
repository = http://archive.ubuntu.com/ubuntu/
components = main,contrib,universe,multiverse
log_file = /home/user/Desktop/debootstrapy.log
host_iface = eth0
internal_ip = 192.168.0.2
gateway = 192.168.0.1

[mint]
